@import url('css/normalize.css');
@import url('vendor/bootstrap/css/sandstone-bootstrap.min.css');
@import url('vendor/font-awesome/css/font-awesome.min.css');

@import "variables";
@import "mixins";
@import "header";
@import "footer";
@import "../vendor/hover-effects/hover-effects";

html, body {
  background: $dark-grey;
  overflow-x: hidden;
}

html {
  position: relative;
}

body {
  margin-bottom: $footer-size;
  font-size: $small-font;
  background: $body-color-main;
}

.teaser {
  margin-bottom: 20px;
}

a {
  color: $dark-grey;
}

a:hover {
  color: $main-accent-color;
}

.home-products {
  a {

    img {
      width: 100%;
      height: inherit;
    }
  }
  p {
    margin-top: 10px;
  }
}

.headline {
  color: $dark-grey;
  border-bottom: 3px $dark-grey solid;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.headline-1 {
  @extend .headline;
  font-size: $large-font;
}

.headline-2 {
  @extend .headline;
  font-size: $medium-font;

}

.headline-3 {
  @extend .headline;
  font-size: $small-font;

}

.underline {
  border-bottom: 3px $light-grey solid;
}

.woocommerce-breadcrumb {
  display: none;
}

/////////////////////////////////
/////////// Products ////////////
/////////////////////////////////

.products {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;

  img {
    width: 100%;
    height: inherit;
  }

  li {
    margin-bottom: 10px;
  }
}

/////////////////////////////////
/////////// Sidebar ////////////
/////////////////////////////////

.sidebar {
  .h3 {
    margin-top: 0;
  }
  .headline-2 {
    margin-bottom: 0;
  }
  ul {
    text-align: left;
    padding-left: 0;
    list-style-type: none;

    li a {
      display: block;
      width: 100%;
      padding: 5px 0;
      @extend .transition-bg-color;
      border-radius: 3px;

      img {
        height: inherit;
      }
    }

    li a:hover {
      background-color: $lighter-grey;
      text-decoration: none;
    }
  }

  .post-date {
    font-size: $small-font;
    color: $light-grey;
  }
}

#place_order {
  background-color: $main-accent-color;
}