@import "variables";
@import "mixins";

nav {
  background-color: $header-color;
  padding: 0 50px;
  @include small-down {
    padding: 0 10px;
  }
  .blog-title {
    font-size: $header-font-size;
    text-transform: uppercase;
    @include small-down {
      font-size: $header-font-size - 7pt;
    }
  }
  .button-collapse {
    margin-right: 10px;
    i {
      @include small-down {
        font-size: $header-font-size + 2pt;
      }
    }

  }
}

.nav-wrapper ul li a {
  font-size: $header-font-size - 5pt;
}