@import "mixins";
@import "variables";

#site-logo-area {
  background: url(img/mountain-bg.png) center top;
  @include vpw-sm {
    text-align: center;
  }
}


#menu-header-main-menu {
  margin-bottom: 0;
}

#menu-header-main-menu>li>a {
  font-size: $medium-font;
  color: $light-grey;
  @extend .transition-bg-color;
}

#menu-header-main-menu>li>a:hover {
  color: $light-grey;
  background-color: $darker-grey;
}

#menu-header-secondary-menu>li>a {
  font-size: $medium-font;
  line-height: 0;
  color: $light-grey;
  width: 100%;
  display: block;
  @extend .transition-bg-color;
}

#menu-header-secondary-menu>li {
  width: 100%;
  background-color: $dark-grey;
}

#menu-header-secondary-menu>li>a:hover {
  background-color: $darker-grey;
}

#menu-header-secondary-menu-1 {
  margin-top: 0;
}

#menu-header-secondary-menu-1>li>a {
  font-size: $medium-font;
  @extend .transition-bg-color;
}

#menu-header-secondary-menu-1>li>a:hover {
  background-color: $darker-grey;

}

#social-bar-inside-collapsed>li>a {
  font-size: $medium-font;
  color: $light-grey;
  @extend .transition-bg-color;
}

#social-bar-inside-collapsed>li>a:hover {
  color: $light-grey;
  background-color: $darker-grey;
}

.navbar {
  background: $dark-grey;
}

.social-icons>li>a {
  color: white;
  font-size: $medium-font;
}

#site-logo {
  height: 300px;
  @include vpw-sm {
    height: 150px;
  }
}

.navbar {
  border-radius: 0;
}

#social-bar-inside-collapsed {
  display: block;
  @include vpw-sm {
    display: none;
  }
}