// Colors
$main-color-1: #23282D;
$header-color: #151515;
$main-text-color: white;

// Screen dimensions
$xsmall-screen: 320px !default;
$xsmall-screen-up: 321px !default;
$small-screen: 600px !default;
$small-screen-up: 601px !default;
$medium-screen: 992px !default;
$medium-screen-up: 993px !default;
$large-screen: 1200px !default;
$large-screen-up: 1201px !default;
$xlarge-screen: 1500px !default;

// Font
$header-font-size: 20pt;
$heading-font-size: 20pt;

// Size
$header-size: 50px;