@import "variables";
@import "mixins";

// Sticky footer
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-size;

  color: $light-grey;
  .footer-headline {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: $medium-font;
  }

  .footer-image {
    max-width: 100%;
  }

  .footer-body {
    padding: 15px 0;
  }

  .footer-copy {
    padding-top: 10px;
  }

  @include vpw-sm {

  }
}

.footer-menu {
  list-style: none;
  font-size: $small-font;
  padding: 0;
  margin-left: 10px;

  li a {
    line-height: 30px;
    width: 200px;
  }

  a {
    color: $light-grey;
  }
}

.footer .container-fluid {
  padding: 0;
}