@import url('css/normalize.css');
@import url('vendor/bootstrap/css/sandstone-bootstrap.min.css');
@import url('vendor/font-awesome/css/font-awesome.min.css');
//@import url('vendor/bootstrap/css/bootstrap-theme.min.css');
@import "mixins";
@import "header";
@import "../vendor/hover-effects/hover-effects";

$header-color-main: #232323;
$body-color-main: #E2E2E2;
$main-accent-color: #c77506;

html, body {
  background: $body-color-main;
}

