@import "mixins";

$header-color-main: #232323;
$body-color-main: #E2E2E2;
$main-accent-color: #c77506;

#site-logo-area {
  background: url(img/mountain-bg.png) center top;
  @include vpw-sm {
    text-align: center;
  }
}

.navbar .nav>li>a {
  font-size: 15pt;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.navbar .nav>li>a:hover {
  color: $main-accent-color;
}

.social-icons>li>a {
  color: white;
  font-size: 15pt;
}

#site-logo {
  height: 300px;
  @include vpw-sm {
    height: 150px;
  }
}

.navbar {
  border-radius: 0;
}

#social-bar-inside-collapsed {
  display: block;
  @include vpw-sm {
    display: none;
  }
}