$header-color-main: #232323;
$body-color-main: #E2E2E2;
$main-accent-color: #c77506;
$light-grey: #9A9A9A;
$dark-grey: #3a3a3a;

$footer-size: 205px;

$large-font: 25pt;
$medium-font: 15pt;
$small-font: 12pt;
